.action_menu_container {
    position: absolute;
    opacity: 1;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 0;
    display: flex;
    justify-content: center;
    height: 80px;
    gap: 0px;

    .action_menu_item_left_filler {
        width: 100px;
        height: 100%;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        background-color: #171717;
    }

    .action_menu_item_right_filler {
        width: 100px;
        height: 100%;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        background-color: #171717;
    }


    .action_menu_item_container {
        background-color: #171717;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        .action_menu_item {
            background-color: #262626;
            border-radius: 100%;
            padding: 11px;

            .action_menu_item_img {
                width: 22px;
                height: 22px;
            }
        }

    }



}



// &:hover {
//     animation: shake 0.5s ease-in-out;
// }

// @keyframes shake {

//     0%,
//     100% {
//         transform: translateX(0);
//     }

//     25% {
//         transform: translateX(-5px);
//     }

//     50% {
//         transform: translateX(5px);
//     }

//     75% {
//         transform: translateX(-5px);
//     }
// }