.projects_root {
  position: relative;
  background-color: black;
  padding: 0 2rem;
  height: 100dvh;
  z-index: 30;
  border: 1px solid #4fe3c3;
}

.projects_title {
  display: flex;
  justify-content: flex-end;
  font-size: 10vw;
  color: #dedddd;
  font-family: 'aurochs';
  line-height: 1;
}

.mobile_project {
  width: 100%;
  display: flex;
  padding: 0 6rem;

  .project_description_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 6rem 3rem;
    opacity: 0;

    .project_title {
      font-size: 3.5rem;
      color: #dedddd;
      margin-bottom: 1rem;
      font-family: 'Aurochs';
    }

    .project_description {
      font-size: 32px;
      font-weight: 500;
      color: #dedddd;
      margin-bottom: 2rem;
    }
  }
}
